.likert li {
    float: left;
    list-style-type: none;
    margin:10px;
  }

  .body{
    font-family: 'BioRhyme Expanded', serif;
  }

  .container{
    font-family: 'Antic Slab', serif;
  }

  .modal{
    font-family: 'Rock Salt', cursive;
  }

.submitButton{
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  background-color: black;
  color:white;
  height: 60px;
  width: 300px;
}
